
! ------------------------------------------------------------------------------
! Default Xcursor theme
! ------------------------------------------------------------------------------
#include ".Xresources.d/xcursor"

! ------------------------------------------------------------------------------
! Color themes for X 
! ------------------------------------------------------------------------------
#include ".Xresources.d/xcolors/themes/nord"

! #include ".Xresources.d/xcolors/themes/digerati"
! #include ".Xresources.d/xcolors/themes/euphrasia"
! #include ".Xresources.d/xcolors/themes/gnometerm"

! ------------------------------------------------------------------------------
! Fonts settings 
! ------------------------------------------------------------------------------
#include ".Xresources.d/fonts/default.font"

! ------------------------------------------------------------------------------
! URxvt 
! ------------------------------------------------------------------------------
#include ".Xresources.d/urxvt/default.urxvt"

! ------------------------------------------------------------------------------
! XTerm
! ------------------------------------------------------------------------------
#include ".Xresources.d/xterm/default.xterm"

! ------------------------------------------------------------------------------
! XAutoLock for Lock Screen 
! ------------------------------------------------------------------------------
#include ".Xresources.d/xautolock"

! ------------------------------------------------------------------------------
! ROFI Defaults
! ------------------------------------------------------------------------------
#include ".Xresources.d/rofi"
