[Desktop Entry]
Type=Action
Name=Open as Root
Name[pt_BR]=Abrir como Root
Icon=terminal
ToolbarLabel=Open as Root
ToolbarLabel[pt_BR]=Abrir como Root
Tooltip=Open as root
Tooltip[pt_BR]=Abrir como root
Profiles=on_folder;on_file;
TargetContext=false

[X-Action-Profile on_file]
Name=file
MimeTypes=all/all;
SelectionCount=1
Schemes=file;
Exec=gksu /usr/bin/xdg-open %f

[X-Action-Profile on_folder]
Name=folder
MimeTypes=inode/directory;
SelectionCount=1
Schemes=file;
Exec=gksu /usr/bin/xdg-open %f

