[Desktop Entry]
Type=Action
ToolbarLabel[pt_BR]=UnTarIt
ToolbarLabel[pt]=UnTarIt
Name[pt_BR]=UnTarIt
Name[pt]=UnTarIt
Profiles=profile-zero;
Icon[pt_BR]=extract-archive
Icon[pt]=extract-archive
Tooltip[pt_BR]=Uncompress tarball files
Tooltip[pt]=Uncompress tarball files


[X-Action-Profile profile-zero]
Exec=/home/usuario/bin/untarIT.sh %F
Name[pt_BR]=UnTarIt
Name[pt]=UnTarIt
