[Desktop Entry]
Type=Action
Name=Slideshow
Icon=image-x-generic
ToolbarLabel=Slideshow
Tooltip=Run Slideshow
Tooltip[pt_BR]=Roda um show de slides

TargetContext=false
Profiles=viewnior_on_folder;viewnior_on_images;gpicview_on_folder;gpicview_on_images;

[X-Action-Profile viewnior_on_folder]
Name=folder
TryExec=viewnior
Exec=viewnior --fullscreen --slideshow %f
MimeTypes=inode/directory;

[X-Action-Profile viewnior_on_images]
Name=images
TryExec=viewnior
Exec=viewnior --fullscreen --slideshow %F
MimeTypes=image/*;
SelectionCount=>1

[X-Action-Profile gpicview_on_folder]
Name=gpicview_folder
TryExec=gpicview
Exec=gpicview --slideshow %f
MimeTypes=inode/directory;

[X-Action-Profile gpicview_on_images]
#Bug: gpicview shows other images after selected
Name=gpicview_images
TryExec=gpicview
Exec=gpicview --slideshow %F
MimeTypes=image/*;
SelectionCount=>1
