[Desktop Entry]
Type=Action
Name=MP4toMP3
Name[pt_BR]=MP4paraMP3
Name[pt]=MP4paraMP3
ToolbarLabel=MP4toMP3
ToolbarLabel[pt_BR]=MP4paraMP3
ToolbarLabel[pt]=MP4paraMP3
Icon=applications-multimedia
Profiles=mp4-video;mp4-audio;

[X-Action-Profile mp4-video]
SelectionCount=1
Schemes=file;
MimeTypes=video/mp4;video/MPEG-4;video/mpeg4;
Exec=/home/usuario/bin/MP4toMP3.sh %F

[X-Action-Profile mp4-audio]
SelectionCount=1
Schemes=file;
MimeTypes=audio/mp4;
Exec=/home/usuario/bin/MP4toMP3.sh %F

