[Desktop Entry]
Type=Action
Name=MP4 to MP3
Name[pt_BR]=MP4 para MP3
ToolbarLabel=MP4 to MP3
ToolbarLabel[pt_BR]=MP4 para MP3
Tooltip=Convert from MP4 to MP3
Tooltip[pt_BR]=Converte de MP4 para MP3
Icon=applications-multimedia
Profiles=mp4-video;mp4-audio;


Name[pt]=MP4 para MP3
Name[pt_PT]=MP4 para MP3
Tooltip[pt]=Converte de MP4 para MP3
Tooltip[pt_PT]=Converte de MP4 para MP3
Icon[pt_BR]=applications-multimedia
Icon[pt]=applications-multimedia
Icon[pt_PT]=applications-multimedia
ToolbarLabel[pt]=MP4 para MP3
ToolbarLabel[pt_PT]=MP4 para MP3

[X-Action-Profile mp4-video]
Name=video
SelectionCount=1
Schemes=file;
MimeTypes=video/mp4;video/MPEG-4;video/mpeg4;
Exec=/home/usuario/bin/MP4toMP3.sh %F

Name[pt_BR]=video
Name[pt]=video
Name[pt_PT]=video

[X-Action-Profile mp4-audio]
Name=audio
SelectionCount=1
Schemes=file;
MimeTypes=audio/mp4;
Exec=/home/usuario/bin/MP4toMP3.sh %F
Name[pt_BR]=audio
Name[pt]=audio
Name[pt_PT]=audio
