[Desktop Entry]
Type=Action
Name=EditIt
Name[pt_BR]=Edita como texto
Name[pt]=Edita como texto
Tooltip=Edit file as text
Tooltip[pt_BR]=Edita o arquivo em modo texto
Tooltip[pt]=Edita o arquivo em modo texto
ToolbarLabel=EditIt
ToolbarLabel[pt_BR]=Edita
ToolbarLabel[pt]=Edita
Icon=sublime-text

[X-Action-Profile profile-zero]
Name=EditIt
Name[pt_BR]=Edita como texto
Name[pt]=Edita como texto
MimeTypes=all/all;
Schemes=file;
Profiles=profile-zero;
Exec=/opt/sublime_text/sublime_text %F
