[Desktop Entry]
Type=Action
Tooltip[pt_BR]=Altera propriedade do aquivo para execução
Tooltip[pt]=Altera propriedade do aquivo para execução
ToolbarLabel[pt_BR]=MakeExec
ToolbarLabel[pt]=MakeExec
Name[pt_BR]=MakeExec
Name[pt]=MakeExec
Profiles=profile-zero;

Icon[pt_BR]=blue-document-open
Icon[pt]=blue-document-open

[X-Action-Profile profile-zero]
Name[pt_BR]=MakeExec
Name[pt]=MakeExec
Exec=/home/usuario/bin/MakeExec %F
