[Desktop Entry]
Type=Action
Name=MakeExec
Name[pt_BR]=Executavel
Tooltip[pt_BR]=Torna o aquivo executável
Tooltip[pt]=Torna o aquivo executável
ToolbarLabel[pt_BR]=MakeExec
ToolbarLabel[pt]=MakeExec
Icon=preferences-other
Profiles=profile-zero;

Name[pt_PT]=Executavel
Tooltip[pt_PT]=Torna o aquivo executável
Icon[pt_BR]=preferences-other
Icon[pt]=preferences-other
Icon[pt_PT]=preferences-other
ToolbarLabel[pt_PT]=MakeExec
TargetContext=false

[X-Action-Profile profile-zero]
Name=MakeExec
Name[pt_BR]=Executavel
Name[pt]=Executavel
MimeTypes=all/all;
Schemes=file;
TryExec=chmod
Exec=/home/usuario/bin/MakeExec %F
Name[pt_PT]=Executavel
