[Desktop Entry]
Type=Action
Name=MakeExec
Name[pt_BR]=Executavel
Name[pt]=Executavel
Tooltip[pt_BR]=Torna o aquivo executável
Tooltip[pt]=Torna o aquivo executável
ToolbarLabel[pt_BR]=MakeExec
ToolbarLabel[pt]=MakeExec
Icon=preferences-other
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name=MakeExec
Name[pt_BR]=Executavel
Name[pt]=Executavel
MimeTypes=all/all;
Schemes=file;
TryExec=chmod
Exec=/home/usuario/bin/MakeExec %F
