[Desktop Entry]
Type=Action
Name=More Info
Name[pt_BR]=Mais Info
Icon=applications-multimedia
ToolbarLabel=More Info
ToolbarLabel[pt_BR]=Mais Info
Tooltip=More info on media file
Tooltip[pt_BR]=Mais info sobre o arquivo de mídia
TargetLocation=true
Profiles=on_images;on_video;on_audio;

Name[pt]=Mais Info
Name[pt_PT]=Mais Info
Tooltip[pt]=Mais info sobre o arquivo de mídia
Tooltip[pt_PT]=Mais info sobre o arquivo de mídia
Icon[pt_BR]=applications-multimedia
Icon[pt]=applications-multimedia
Icon[pt_PT]=applications-multimedia
ToolbarLabel[pt]=Mais Info
ToolbarLabel[pt_PT]=Mais Info

TargetToolbar=true

[X-Action-Profile on_images]
Name=image
Exec=/home/usuario/bin/moreinfo %F
MimeTypes=image/*;
SelectionCount=1

Name[pt_BR]=image
Name[pt]=image
Name[pt_PT]=image

[X-Action-Profile on_audio]
Name=audio
Exec=/home/usuario/bin/moreinfo %F
Schemes=file;
MimeTypes=audio/*;
SelectionCount=1

Name[pt_BR]=audio
Name[pt]=audio
Name[pt_PT]=audio

[X-Action-Profile on_video]
Name=video
Exec=/home/usuario/bin/moreinfo %F
Schemes=file;
MimeTypes=video/*;
SelectionCount=1
Name[pt_BR]=video
Name[pt]=video
Name[pt_PT]=video
