[Desktop Entry]
Type=Action
Name=ACL List
Name[pt_BR]=Lista de Acesso
Tooltip=ACL list manager
Tooltip[pt_BR]=Gerencia lista de acesso
ToolbarLabel=Eiciel
Icon=config-users
Profiles=profile-zero;

Name[pt]=Lista de Acesso
Name[pt_PT]=Lista de Acesso
Tooltip[pt]=Gerencia lista de acesso
Tooltip[pt_PT]=Gerencia lista de acesso
Icon[pt_BR]=config-users
Icon[pt]=config-users
Icon[pt_PT]=config-users
ToolbarLabel[pt_BR]=Lista de Acesso
ToolbarLabel[pt]=Lista de Acesso
ToolbarLabel[pt_PT]=Lista de Acesso
TargetLocation=true
TargetToolbar=true

[X-Action-Profile profile-zero]
MimeTypes=all/all;
Schemes=file;
TryExec=/usr/bin/eiciel
Exec=/usr/bin/eiciel %F
Name[pt_BR]=Perfil padrão
Name[pt]=Perfil padrão
Name[pt_PT]=Perfil padrão
