[Desktop Entry]
Type=Action
Name=Edit as Text
Name[pt_BR]=Edita como texto
Tooltip=Edit file as text
Tooltip[pt_BR]=Edita o arquivo em modo texto
ToolbarLabel=As Text
ToolbarLabel[pt_BR]=Edita
TargetLocation=true
TargetToolbar=true
Icon=application-text
Profiles=br_edit_text;

[X-Action-Profile br_edit_text]
MimeTypes=all/allfiles;
Schemes=file;
Exec=myedit %F
