[Desktop Entry]
Type=Action
Name=More Info
Name[pt_BR]=Mais Info
Icon=applications-multimedia
ToolbarLabel=More Info
ToolbarLabel[pt_BR]=Mais Info
Tooltip=More info on media file
Tooltip[pt_BR]=Mais info sobre o arquivo de mídia
TargetToolbar=true
TargetLocation=true
Profiles=on_images;on_video;on_audio;

[X-Action-Profile on_images]
Name=image
Name[pt_BR]=imagem
Exec=/home/usuario/bin/moreinfo %F
MimeTypes=image/*;
SelectionCount=1
Basenames=!trash:///;*;

[X-Action-Profile on_audio]
Name=audio
Name[pt_BR]=áudio
Exec=/home/usuario/bin/moreinfo %F
Schemes=file;
MimeTypes=audio/*;
SelectionCount=1
Basenames=!trash:///;*;

[X-Action-Profile on_video]
Name=video
Name[pt_BR]=vídeo
Exec=/home/usuario/bin/moreinfo %F
Schemes=file;
MimeTypes=video/*;
SelectionCount=1
Basenames=!trash:///;*;
